/**
 * Global Reset:
 * Reset margins, paddings, and box-sizing for all elements to ensure consistent styling.
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/**
 * Header:
 * Styles for the header section of the webpage.
 */
.header{
    /* Background Image: */
    background: url(../assets/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Dimensions: */
    width: 100%;
    height: 90vh;
}

/**
 * Top Right Social Icons
 */
.login-text{
    display: none;
}
.social-icons{
    padding: 2px;
}
.login-icon{
    font-weight: 500;
}