/**
 * Global Reset:
 * Reset margins, paddings, and box-sizing for all elements to ensure consistent styling.
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bruno+Ace&family=Josefin+Sans:wght@300;400;600;700&family=Kanit&family=Konkhmer+Sleokchher&family=Oswald:wght@400;500;600&family=Pacifico&family=Poppins:wght@400;500;600&family=Prompt:wght@600&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,700&family=Righteous&family=Six+Caps&family=Vina+Sans&display=swap');
/**
 * Header:
 * Styles for the header section of the webpage.
 */
.header{
    /* Background Image: */
    background: rgba(0, 0, 0, 0.434) url(./assets/WallpaperDog-20557292.jpg);
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Dimensions: */
    width: 100%;
    height: 79vh;
}

/**
 * Top Right Social Icons
 */
.social-icons{
    padding: 4px;
    cursor: pointer;
}
.header-topleft-icons li .social-icons:hover{
    color: #003e8e;
}
.login-icon{
    font-weight: 500;
}
.login-header{
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 700;
}